USE [master]
GO
/****** Object:  Database [Estudo]    Script Date: 08/02/2018 09:22:16 ******/
CREATE DATABASE [Estudo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Estudo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Estudo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Estudo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Estudo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Estudo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Estudo]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 08/02/2018 09:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[Dinheiro] [int] NULL,
	[CPF] [nchar](11) NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Pessoa] ON 

INSERT [dbo].[Pessoa] ([Id], [Nome], [Dinheiro], [CPF]) VALUES (2, N'Arthur', 999, N'12345678900')
INSERT [dbo].[Pessoa] ([Id], [Nome], [Dinheiro], [CPF]) VALUES (3, N'Dhiogo', 100, N'98765432100')
INSERT [dbo].[Pessoa] ([Id], [Nome], [Dinheiro], [CPF]) VALUES (4, N'Mettues', 1009, N'90876543213')
SET IDENTITY_INSERT [dbo].[Pessoa] OFF
USE [master]
GO
